<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>予定管理アプリ</title>
        <meta name="viewport" content="width=device-width,initial-scale=1 shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </head>
    
    <body>
        <div class="container">
            
            <header class="mb-4">
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <!-- トップページへのリンク -->
                    <a class="navbar-brand" href="/">予定管理</a>
            
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="nav-bar">
                        <ul class="navbar-nav mr-auto"></ul>
                        <ul class="navbar-nav">
                    
                                <!-- ユーザ一覧ページへのリンク -->
                                <li class="nav-item"><a href="#" class="nav-link">###</a></li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">名前</a>
                                    
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <!-- ユーザ詳細ページへのリンク -->
                                        <li class="dropdown-item"><a href="#">予定一覧</a></li>
                                        <li class="dropdown-divider"></li>
                                        
                                        <!-- ログアウトへのリンク -->
                                        <li class="dropdown-item">ログアウト</li>
                                    </ul>
                                </li>
                        </ul>
                    </div>
                </nav>
            </header>


            <div class="jusify-content-center">
                <!-- <div class="row jusify-content-center"> -->
                <div class="">
                    
                        <table class="table table-striped" border="2">
                            
                                <thead>
                                    <tr>
                                        
                                		<th colspan="5">10月28日</th>
                                		<th colspan="5">10月30日</th>
                                		<th colspan="5">10月31日</th>
                                		<th colspan="5">11月1日</th>
                                		<th colspan="5">11月2日</th>
                                		
                                		
                                	</tr>
                                	<tr>
                                	    
                                	</tr>
                                	
                                	<tr>
                                	    <th><!-- ユーザと時間区分の表示がおかしくなる為空白にする -->空白</th>
                                	    <th>1</th>
                                		<th>2</th>
                                		<th>3</th>
                                		<th>4</th>
                                		
                                		<th><!-- ユーザと時間区分の表示がおかしくなる為空白にする -->空白</th>
                                		<th>1</th>
                                		<th>2</th>
                                		<th>3</th>
                                		<th>4</th>
                                		
                                		<th><!-- ユーザと時間区分の表示がおかしくなる為空白にする -->空白</th> 
                                		<th>1</th>
                                		<th>2</th>
                                		<th>3</th>
                                		<th>4</th>
                                		
                                		<th><!-- ユーザと時間区分の表示がおかしくなる為空白にする -->空白</th>
                                		<th>1</th>
                                		<th>2</th>
                                		<th>3</th>
                                		<th>4</th>
                                		
                                        <th><!-- ユーザと時間区分の表示がおかしくなる為空白にする -->空白</th>
                                		<th>1</th>
                                		<th>2</th>
                                		<th>3</th>
                                		<th>4</th>
                                	</tr>
                                	
                                	
                                	
                                	
            
                                </thead>
                                		
                        		<tbody>
                            		<tr>
                            			<td>user1</td>
                            			<td>予定</td>
                            			<td>task</td>
                            			<td></td>
                            			<td></td>
                            		</tr>
                        	</tbody>
                        </table>
                    </div>
                
            </div>
        </div>
            
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    </body>
</html>